@model Cars.Domain.Entities.Car

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit @Model.Model</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-primary">
        @*@Html.HiddenFor(c => c.CarID)*@
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "CarID":
                case "Mark":
                    break;
                case "MarkID":
                    <p>@Html.ValidationMessageFor(c => c.MarkID)</p>
                    <label>@property.PropertyName</label>
                    <p>@Html.DropDownListFor(c => c.MarkID, ViewBag.Marks as SelectList)</p>
                    break;
                case "IssueDate":
                    <p>@Html.ValidationMessageFor(c => c.IssueDate)</p>
                    <label>@property.PropertyName</label>
                    <p>@Html.EditorFor(c => c.IssueDate, null, new { @class = "form-control" })</p>
                    break;
                case "IsAvailable":
                    <p>@Html.ValidationMessageFor(c => c.IsAvailable)</p>
                    <label>@property.PropertyName</label>
                    <p>@Html.EditorFor(c => c.IsAvailable, null, new { @class = "form-control" })</p>
                    break;
                default:
                    <p>@Html.ValidationMessage(property.PropertyName)</p>
                    <label>@property.PropertyName</label>
                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                    break;
            }
        }
        <input type="submit" value="Save" class="btn-default" />
        <div class="btn-link">
            @Html.ActionLink("Cancel and return to List", "AdminList", null, new { @class = "btn-default" })
        </div>
    </div>
}

